.Filter {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    width: 918px;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
    -webkit-tap-highlight-color: transparent

}

.FilterWrapper {
    display: flex;
    column-gap: 16px;
    align-items: center;
    border: 1px #525b65 solid;
    border-width: 1px 0;
}