*,
*::before,
*::after {
    box-sizing: border-box;
}

.List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Column {
    display: flex;
    overflow-x: hidden;
}